# collaborative filtering based on Matrix Factorization

- referece : 파이썬 머신러닝 완벽가이드 (권철민, 위키북스), ch. 9.7
- https://github.com/wikibook/pymldg-rev
- dataset : movielens modified w/o rating info.

In [42]:
import numpy as np
from sklearn.metrics import mean_squared_error

# 실제 R 행렬과 예측 행렬의 RMSE 계산
def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두개의 분해된 행렬 P와 Q.T의 내적 곱으로 예측 R행렬 생성
    full_pred_matrix = np.dot(P, Q.T)

    # 실제 R 행렬에서 NaN이 아닌 값의 위치 인덱스를 추출하여 실제 R 행렬과 에측 행렬의 RMSE 추출
    x_non_zero_idx = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_idx = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_idx, y_non_zero_idx]

    ffull_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_idx, y_non_zero_idx]

    mse = mean_squared_error(R_non_zeros, ffull_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)

    return rmse

In [43]:
from tqdm import tqdm

def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape
    # P와 Q 매트릭스의 크기를 지정하고 정규분포를 가진 랜덤한 값으로 입력합니다.
    np.random.seed()
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))

    break_count = 0

    # R > 0 인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 젖아.
    non_zeros = [(i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0 ]

    # SGD기법으로 P와 Q 맽릭스를 계속 업데이트
    for step in range(steps):
        print("step : ", {steps})
        for i, j, r in non_zeros:
            # 실제 값과 예측 값의 차이인 오류 값 구함
            eij = r - np.dot(P[i, :], Q[j, :].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i,:] = P[i,:] + learning_rate * (eij * Q[j, :] - r_lambda*P[i,:])
            Q[j,:] = Q[j,:] + learning_rate * (eij * P[i, :] - r_lambda*Q[j,:])

        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10 ) == 0:
            print("### iteration step :", step," rmse : ", rmse)

        return P, Q

In [44]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('./data/train/train_ratings.csv')
ratings['rating'] = 1.0

ratings_df = ratings[['user', 'item', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='user', columns='item')
ratings_matrix

# column = 'title'로 title 컬럼으로 pivot 수행
ratings_matrix = rating_movies.pivot_table('rating', index ='user', columns='item' )

# # NaN 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix

item,1,2,3,4,5,6,7,8,9,10,...,116823,117176,117533,117881,118696,118700,118900,118997,119141,119145
user,,,,,,,,,,,,,,,,,,,,,
11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138473,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138486,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138493,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)
pred_matrix = np.dot(P, Q.T)

step :  {200}
### iteration step : 0  rmse :  0.5823203149938739

In [110]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns )
ratings_pred_matrix.head(3)

item,1,2,3,4,5,6,7,8,9,10,...,116823,117176,117533,117881,118696,118700,118900,118997,119141,119145
user,,,,,,,,,,,,,,,,,,,,,
11,0.002598,-0.005692,-0.001228,0.009116,-0.003179,0.003702,-0.000288,0.002416,0.003751,0.002511,...,-0.004565,0.001140,-0.000247,0.009733,-0.000216,0.003990,-0.001047,0.002761,-0.001517,-0.001003
14,-0.000814,0.001535,0.004758,0.004233,0.000817,0.006391,0.003105,0.006867,0.001004,0.004979,...,0.000099,-0.001352,0.001345,0.003179,-0.003674,-0.001134,0.001611,0.007131,-0.000571,-0.006260
18,-0.003813,-0.003089,-0.004760,-0.000866,0.001158,-0.002854,0.001033,0.003577,0.003881,-0.004878,...,0.003764,0.003226,0.000919,0.001049,0.002116,0.006161,0.003884,-0.003958,0.002755,0.001260

In [162]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환함. 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임. 
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 index를 추출하여 list 객체로 만듬
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듬. 
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 movie는 movies_list에서 제외함. 
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [163]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

In [164]:
list(ratings_df['item'].unique())

[4643,
 170,
 531,
 616,
 2140,
 2722,
 2313,
 2688,
 2428,
 3113,
 1591,
 2600,
 8169,
 2572,
 58293,
 7541,
 1367,
 32,
 4792,
 7444,
 53953,
 56949,
 6502,
 53000,
 51662,
 5151,
 35836,
 7293,
 33585,
 8810,
 56801,
 5377,
 344,
 19,
 410,
 2124,
 828,
 1274,
 8977,
 1032,
 1214,
 1200,
 1320,
 3897,
 7173,
 1225,
 2858,
 59418,
 45361,
 2706,
 1321,
 2793,
 33085,
 4235,
 3892,
 4340,
 27660,
 43556,
 47124,
 2294,
 48304,
 150,
 31184,
 34338,
 1917,
 50162,
 2827,
 27368,
 4366,
 2153,
 30812,
 3525,
 1270,
 2011,
 2012,
 8973,
 1255,
 2018,
 541,
 4878,
 7361,
 31658,
 2571,
 7099,
 260,
 1196,
 60069,
 160,
 1882,
 60037,
 880,
 36509,
 405,
 3826,
 4133,
 673,
 6541,
 611,
 172,
 4638,
 5171,
 208,
 4887,
 5459,
 60760,
 8361,
 60514,
 1544,
 1876,
 442,
 32213,
 5219,
 1690,
 2717,
 27608,
 52722,
 780,
 6934,
 52287,
 3745,
 45499,
 37830,
 60040,
 34319,
 8644,
 6365,
 34048,
 316,
 3300,
 7022,
 7254,
 57368,
 1584,
 2232,
 1748,
 1253,
 49278,
 42718,
 1097,
 7481,
 5903,
 1653,
 741,
 27728,
 2716,
 52281,
 57640,
 2761,
 59315,
 480,
 3702,
 1580,
 5445,
 52885,
 3527,
 44849,
 27904,
 5349,
 8636,
 589,
 1240,
 2916,
 3793,
 6333,
 3054,
 546,
 256,
 173,
 2642,
 7846,
 8870,
 54771,
 7845,
 34150,
 51412,
 3697,
 6534,
 7163,
 5463,
 3438,
 3269,
 8371,
 5046,
 6537,
 4446,
 8865,
 5378,
 32031,
 3704,
 4533,
 6659,
 2134,
 1676,
 2105,
 5502,
 3033,
 592,
 56174,
 318,
 60832,
 4993,
 3114,
 1136,
 1073,
 648,
 110,
 8622,
 6874,
 6863,
 6539,
 6377,
 5816,
 5669,
 5618,
 5299,
 3863,
 3752,
 2355,
 2291,
 1339,
 1029,
 1028,
 784,
 610,
 551,
 158,
 54001,
 50872,
 48394,
 45722,
 33679,
 31878,
 30793,
 6953,
 6503,
 6281,
 5782,
 5400,
 5266,
 4388,
 4299,
 4054,
 3988,
 3980,
 3969,
 3247,
 2840,
 2720,
 2004,
 761,
 56757,
 41571,
 36401,
 8965,
 8907,
 8640,
 7439,
 6996,
 5283,
 4974,
 2959,
 2240,
 2042,
 2028,
 296,
 356,
 593,
 1,
 1210,
 608,
 377,
 1198,
 165,
 595,
 153,
 364,
 597,
 231,
 500,
 367,
 1721,
 587,
 1197,
 2628,
 253,
 1291,
 3578,
 1036,
 185,
 4306,
 586,
 39,
 5952,
 2396,
 1961,
 1527,
 1387,
 8368,
 6378,
 6016,
 4896,
 3000,
 2810,
 3159,
 7458,
 5152,
 33493,
 41566,
 4973,
 33794,
 4995,
 33660,
 33166,
 58559,
 62265,
 27441,
 67295,
 653,
 55999,
 63859,
 3753,
 8972,
 53125,
 3083,
 5225,
 1046,
 64034,
 53996,
 43932,
 26887,
 66171,
 68319,
 51698,
 5444,
 6731,
 2455,
 56145,
 968,
 54995,
 52328,
 3994,
 44191,
 6979,
 60684,
 6250,
 44731,
 64497,
 3864,
 6294,
 64997,
 67197,
 69526,
 5882,
 31660,
 1391,
 4571,
 4492,
 2985,
 380,
 527,
 588,
 736,
 2762,
 41569,
 72641,
 48774,
 48516,
 71282,
 64614,
 34542,
 65514,
 48738,
 6291,
 46578,
 7153,
 4226,
 8961,
 1396,
 471,
 1042,
 1947,
 1269,
 2394,
 17,
 3751,
 3471,
 2193,
 1682,
 1204,
 1148,
 8376,
 27706,
 5620,
 3397,
 3396,
 2966,
 2414,
 1010,
 954,
 951,
 45431,
 7161,
 6753,
 6550,
 3723,
 26084,
 7075,
 5667,
 2094,
 2078,
 1262,
 1207,
 927,
 277,
 8984,
 8970,
 6936,
 4499,
 3512,
 2687,
 2125,
 2087,
 1013,
 44022,
 8695,
 8633,
 7263,
 5747,
 6424,
 40339,
 5957,
 51471,
 44709,
 1610,
 5380,
 5218,
 8360,
 26133,
 745,
 25752,
 497,
 2501,
 37739,
 6776,
 529,
 2324,
 457,
 534,
 1243,
 1957,
 1246,
 6358,
 3916,
 728,
 2083,
 1177,
 46976,
 50160,
 3360,
 838,
 36525,
 5267,
 6533,
 45517,
 26294,
 48982,
 314,
 6297,
 2150,
 898,
 8039,
 3088,
 3097,
 5470,
 899,
 911,
 8574,
 38038,
 56915,
 955,
 953,
 1023,
 7395,
 8580,
 4886,
 40629,
 1022,
 4921,
 6662,
 3548,
 1689,
 4027,
 60487,
 5066,
 8529,
 2797,
 4022,
 5303,
 45668,
 339,
 2059,
 3675,
 5629,
 2010,
 1265,
 3809,
 62,
 924,
 440,
 2115,
 594,
 368,
 7,
 552,
 3175,
 2804,
 1282,
 252,
 2161,
 1271,
 468,
 1952,
 1283,
 3507,
 4280,
 51084,
 42197,
 52375,
 44555,
 31410,
 43376,
 8645,
 27803,
 7767,
 44204,
 7323,
 44694,
 5878,
 5608,
 5477,
 41527,
 5613,
 30749,
 55052,
 1305,
 1211,
 1209,
 7034,
 4967,
 1252,
 1247,
 7234,
 1201,
 1206,
 45950,
 56788,
 55820,
 6197,
 3426,
 61075,
 2289,
 59118,
 7456,
 1641,
 6942,
 57792,
 1230,
 3812,
 3967,
 2997,
 6711,
 1221,
 858,
 64701,
 51174,
 59018,
 4428,
 69122,
 1784,
 8254,
 63062,
 186,
 60482,
 71033,
 261,
 22,
 3255,
 372,
 1093,
 428,
 175,
 2141,
 4979,
 60293,
 54503,
 3686,
 8910,
 1126,
 1704,
 3949,
 63082,
 778,
 590,
 50,
 1193,
 141,
 21,
 2683,
 288,
 3996,
 111,
 1089,
 223,
 919,
 1517,
 2987,
 1307,
 1968,
 1258,
 2918,
 1101,
 2174,
 1080,
 1079,
 2502,
 3147,
 337,
 1732,
 2692,
 52319,
 76093,
 87232,
 89745,
 112852,
 91500,
 98809,
 79091,
 86332,
 73321,
 82461,
 81564,
 79695,
 78469,
 86880,
 84944,
 78105,
 3671,
 47610,
 73017,
 4016,
 7373,
 59369,
 5254,
 4343,
 91529,
 54259,
 6754,
 77561,
 88125,
 4232,
 81834,
 33615,
 60074,
 5574,
 5785,
 5110,
 70286,
 40815,
 72998,
 54997,
 59784,
 69844,
 4700,
 46972,
 6156,
 88744,
 4386,
 118696,
 6218,
 8985,
 3483,
 47200,
 42738,
 56171,
 102125,
 106487,
 51077,
 49274,
 7324,
 59501,
 106489,
 36519,
 57528,
 5504,
 49649,
 48322,
 4990,
 6889,
 5804,
 76175,
 34332,
 8808,
 50798,
 87222,
 65682,
 61160,
 83613,
 87430,
 68205,
 85510,
 5389,
 6566,
 6385,
 82459,
 37386,
 53121,
 88140,
 53464,
 58025,
 56775,
 7317,
 5621,
 1223,
 1019,
 107,
 60,
 2300,
 2231,
 5902,
 2023,
 7438,
 27773,
 3556,
 40819,
 47,
 1617,
 6003,
 4954,
 4011,
 2360,
 2542,
 44665,
 2329,
 293,
 30820,
 41863,
 55995,
 55069,
 55269,
 55247,
 27005,
 1222,
 56367,
 55442,
 56782,
 54190,
 6773,
 48082,
 8983,
 54286,
 32587,
 7090,
 27592,
 38061,
 49272,
 36529,
 5418,
 8798,
 53519,
 7143,
 8665,
 53972,
 6618,
 7235,
 54736,
 49651,
 8968,
 31696,
 39435,
 47044,
 55232,
 6595,
 49530,
 30810,
 27801,
 50005,
 33903,
 40870,
 55280,
 34437,
 4381,
 5577,
 52975,
 36537,
 37729,
 54272,
 4014,
 3535,
 53322,
 5991,
 33004,
 56587,
 27797,
 5014,
 3082,
 1962,
 2881,
 2359,
 830,
 1680,
 5013,
 28,
 232,
 1278,
 62293,
 3079,
 8943,
 4246,
 7155,
 613,
 4308,
 1923,
 2145,
 1635,
 1354,
 6104,
 27266,
 910,
 3148,
 308,
 2976,
 7365,
 1884,
 48043,
 1279,
 8638,
 7147,
 27721,
 30707,
 2843,
 1259,
 539,
 357,
 912,
 1208,
 2019,
 1183,
 923,
 34,
 36,
 6,
 300,
 11,
 1393,
 1213,
 474,
 508,
 509,
 750,
 266,
 235,
 317,
 2791,
 553,
 832,
 1485,
 1394,
 2000,
 2640,
 555,
 1288,
 151,
 2406,
 3408,
 1358,
 5060,
 1094,
 265,
 1639,
 2302,
 802,
 1234,
 1608,
 1625,
 1266,
 342,
 805,
 2321,
 1250,
 246,
 852,
 1408,
 1199,
 1242,
 1302,
 3253,
 1909,
 45,
 785,
 2470,
 1276,
 1084,
 969,
 1285,
 1275,
 661,
 2770,
 1747,
 2407,
 1088,
 348,
 224,
 1263,
 1729,
 3072,
 800,
 2248,
 1172,
 2278,
 1357,
 1203,
 1228,
 1231,
 3006,
 247,
 2968,
 3256,
 431,
 2108,
 1479,
 2021,
 1272,
 2746,
 4370,
 455,
 1299,
 2020,
 1244,
 3552,
 3108,
 2076,
 1921,
 2352,
 2908,
 5010,
 194,
 4720,
 3361,
 2243,
 1296,
 3107,
 162,
 2420,
 1960,
 3386,
 2944,
 1292,
 3317,
 1965,
 4447,
 994,
 5679,
 1586,
 5464,
 4848,
 3252,
 2369,
 1095,
 1175,
 1104,
 4002,
 1020,
 1449,
 4262,
 361,
 382,
 3105,
 2686,
 1441,
 4975,
 2616,
 3424,
 1958,
 4223,
 3100,
 2739,
 5481,
 1945,
 1124,
 1711,
 6807,
 5388,
 1959,
 2245,
 1678,
 2384,
 2116,
 1956,
 4734,
 6870,
 ...]

In [166]:
mp_items = []
users = []

for u in tqdm(list(ratings_df['user'].unique())):
    # 사용자가 관람하지 않는 영화명 추출   
    unseen_list = get_unseen_movies(ratings_matrix, u)

    # 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
    recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, u, unseen_list, top_n=10)

    mp_items= mp_items + list(recomm_movies.index)
    users = users + [u, u, u, u, u, u, u, u, u, u]

# 평점 데이타를 DataFrame으로 생성
test_df = pd.DataFrame(zip(users,mp_items), columns=['user','item'])
test_df.to_csv("most_popular_submission.csv", index=False)

100%|██████████| 31360/31360 [21:40<00:00, 24.12it/s]